//== import general style file ==//
//== start ==//
@import './general_style';
//== end ==//

$Dark: hsl(235, 21%, 11%);
$Blue: hsl(235, 24%, 19%);
$Grayish: hsl(234, 39%, 85%);
$gs: hsl(236, 33%, 92%);
$bdf: hsl(234, 11%, 52%);
$bfdb: hsl(233, 14%, 35%);
$bfdb: hsl(237, 14%, 26%);


$Dark: hsl(0, 0%, 98%);
$Blue: hsl(236, 33%, 92%);
$Grayish: hsl(233, 11%, 84%);
$gs:hsl(236, 9%, 61%);
$bdf: hsl(235, 19%, 35%);